doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport",id="gameImibao",content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(name="format-detection",content="telephone=no")
        meta(name="Description" content="考拉理财-1元起投，8%高收益，安全无懈可击。通过“精选债权，量化分散、风险控制，智能组合”，将来源于超过100家平台的1000+份债权进行拆分重组，为用户提供1元为1个份额的低门槛极致理财体验服务，比银行活期高20倍以上的年化收益，购买、提现灵活，致力于让投资者像考拉一样，抱着摇钱树，睡着等收益")
        title= title
        link(rel="icon",href="/favicon.ico",type="image/x-icon")   
        block stylesheets
    body
        block body
        script(type="text/javascript",src="/js/weixinapi.js")
        block scripts
        script
            !function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)}(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create','UA-17374783-28','auto');ga('send','pageview');